@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    overflow: hidden;
    height: 100vh;
}

p {
    font-family: 'Lato', sans-serif;
    line-height: 14px;
    background: url("logo.png");
    -webkit-background-clip: text;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    background-size: 100vh;
    background-position: center;
}
